# generated Javascript and TS types
*.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# AWS SAM artifacts
.aws-sam

# seed data
src/db/seeds/*
!src/db/seeds/defaultData_*.ts

# Unit testing
!jest.config.js

# e2e testing
!cucumber.js
!features/**/*
